<header class="py-4 lg:px-16 md:px-8 px-4 shadow-2xl select-none" [style]="{backgroundColor: currentTheme ? currentTheme.background : 'white'}">
    <div class="flex flex-row justify-between items-center text-white">
        <span class="text-2xl" [style]="{color: currentTheme ? currentTheme.text : 'black'}">Where in the world?</span>
        <button class="flex flex-row" (click)="toggleThemeMode()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" [attr.fill]="currentTheme ? currentTheme.text : 'black'" *ngIf="!darkMode">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                    d="M20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69L23.31 12 20 8.69zm-2 5.79V18h-3.52L12 20.48 9.52 18H6v-3.52L3.52 12 6 9.52V6h3.52L12 3.52 14.48 6H18v3.52L20.48 12 18 14.48zM12 6.5c-3.03 0-5.5 2.47-5.5 5.5s2.47 5.5 5.5 5.5 5.5-2.47 5.5-5.5-2.47-5.5-5.5-5.5zm0 9c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px"
             [attr.fill]="currentTheme ? currentTheme.text : 'black'" *ngIf="darkMode">
                <g>
                    <rect fill="none" height="24" width="24" />
                </g>
                <g>
                    <g>
                        <path
                            d="M15.5,22c1.05,0,2.05-0.16,3-0.46c-4.06-1.27-7-5.06-7-9.54s2.94-8.27,7-9.54C17.55,2.16,16.55,2,15.5,2 c-5.52,0-10,4.48-10,10S9.98,22,15.5,22L15.5,22z" />
                    </g>
                </g>
            </svg>
            <span class="ml-2 md:inline-block hidden" [style]="{color: currentTheme ? currentTheme.text : 'black'}">{{ darkMode ? 'Dark' : 'Light'}} Mode</span>
        </button>
    </div>
</header>
