main {
    height: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 150px;
}
#welcome {
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.welcome__content--container {
    width: 50%;
}
.welcome__title {
    font-size: 4.8rem;
    font-weight: 700;
}
.welcome__subtitle {
    margin: 3rem 0;
    font-size: 1.8rem;
    color: var(--font-secondary);
}
.welcome__btn-container {
    display: flex;
    flex-direction: row;
}
.btn__read-more {
    background-color: var(--elements-gray);
    font-size: 1.4rem;
    margin-right: 2rem;
    height: 5.8rem;
}
.btn__github {
    background-color: var(--elements-red);
    font-weight: 700;
    font-size: 1.8rem;
    height: 5.8rem;
}
.welcome__skills--container {
    display: grid;
    padding-left: 15rem;
    grid-template-columns: repeat(3, 1fr);
    font-size: 6.4rem;
}