<section
  class="flex flex-col justify-between items-start h-full w-full md:p-10 p-2"
  [style]="{ color: currentTheme && currentTheme.text }"
>
  <a
    routerLink="/"
    class="
      flex flex-row
      items-center
      justify-center
      pl-4
      pr-8
      py-1
      rounded
      shadow-2xl
    "
    [style]="{
      backgroundColor: currentTheme && currentTheme.elements,
      boxShadow: !darkMode && '0 0 10px #ccc'
    }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 0 24 24"
      width="24px"
      [attr.fill]="currentTheme && currentTheme.text"
      cl
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
    </svg>
    Back
  </a>
  <div
    class="
      flex
      md:flex-row
      flex-col
      justify-around
      items-basline
      w-full
      mt-10
      md:p-10
    "
  >
    <img
      [src]="country.flag"
      [alt]="country.name"
      class="md:w-2/5 w-full shadow-2xl"
    />
    <div
      class="
        flex flex-col
        justify-between
        items-start
        md:p-4 md:w-3/5 md:ml-10
        my-4
      "
    >
      <h3 class="font-bold text-2xl">{{ country.name }}</h3>
      <div
        class="flex md:flex-row flex-col justify-start items-baseline w-full"
      >
        <div class="flex flex-col my-4 md:my-0">
          <span>
            <span class="font-bold">Native Name:</span>
            {{ country.nativeName }}
          </span>
          <span>
            <span class="font-bold"> Population: </span>
            {{ country.population }}
          </span>
          <span>
            <span class="font-bold"> Region: </span>
            {{ country.region }}
          </span>
          <span>
            <span class="font-bold"> Sub Region: </span>
            {{ country.subregion }}
          </span>
          <span>
            <span class="font-bold"> Capital: </span>
            {{ country.capital }}
          </span>
        </div>
        <div class="flex flex-col md:ml-20 my-4 md:my-4">
          <span>
            <span class="font-bold"> Top Level Domain: </span>
            {{ country.topLevelDomain }}
          </span>
          <span>
            <span class="font-bold"> Currencies: </span>
            {{ country.currencies }}
          </span>
          <span>
            <span class="font-bold"> Languages: </span>
            {{ country.languages }}
          </span>
        </div>
      </div>
      <div class="flex md:flex-row flex-col justify-start items-baseline">
        <span class="font-bold">Border Countries: </span>
        <!-- prettier-ignore -->
        <div class="flex flex-row flex-wrap w-full">
            <a *ngFor="let border of country.borders" class="inline-block md:px-8 px-2 text-center md:ml-4 ml-2 mb-2 md:mb-4 my-2" [style]="{backgroundColor: currentTheme && currentTheme.elements, boxShadow: !darkMode && '0 0 10px #ccc'}" routerLink="{{'/' + border.toLowerCase()}}"
            >{{border}}</a
            >
        </div>
      </div>
    </div>
  </div>
</section>
