
<app-search [darkMode]="darkMode" [currentTheme]='currentTheme' (searchByName)="searchByName($event)"
    (searchByRegion)="searchByRegion($event)"></app-search>
<section class="lg:mx-16 md:mx-8 mx-4 pb-4 max-h-full
lg:grid-cols-4 lg:grid-rows-2 md:grid-cols-2 md:gap-x-8 grid-cols-1 grid 
lg:gap-x-16 gap-y-4 place-items-center items-center">
    <app-country-short *ngFor="let country of countries" [country]="country" [darkMode]="darkMode"
        [currentTheme]='currentTheme'></app-country-short>
    </section>
<div *ngIf="!countries.length" class="w-full flex justify-center">
    <h1  class="text-2xl font-bold inline-block mx-auto text-center" [style]="{color: currentTheme ? currentTheme.text : 'white'}">Not Found</h1>
</div>