<main class="max-h-full relative min-h-screen"
    [style]="{backgroundColor: currentTheme ? currentTheme.background : 'black'}">
    <app-header [darkMode]="darkMode" [currentTheme]='currentTheme' (toggleTheme)="toggleThemeMode()"></app-header>
    <app-search [darkMode]="darkMode" [currentTheme]='currentTheme' (searchByName)="searchByName(text)"
        (searchByRegion)="searchByRegion(region)"></app-search>
    <section class="lg:mx-16 md:mx-8 mx-4 pb-4 max-h-full
    lg:grid-cols-4 lg:grid-rows-2 md:grid-cols-2 md:gap-x-8 grid-cols-1 grid 
    lg:gap-x-16 gap-y-4 place-items-center items-center">
        <app-country-short *ngFor="let country of countries" [country]="country" [darkMode]="darkMode"
            [currentTheme]='currentTheme'></app-country-short>
    </section>
</main>