<main class="max-h-full relative">
<app-header></app-header>
    <app-search></app-search>
    <section  class="mx-16 mb-4 max-h-full grid-cols-4 grid-rows-2 grid gap-x-32 gap-y-4 place-items-center justify-items-stretch items-center">
            <app-country-short></app-country-short>
            <app-country-short></app-country-short>
            <app-country-short></app-country-short>
            <app-country-short></app-country-short>
            <app-country-short></app-country-short>
            <app-country-short></app-country-short>
            <app-country-short></app-country-short>
            <app-country-short></app-country-short>
    </section>
</main>
